      .navbar {

    
          display: flex;
          flex-wrap: nowrap;
          background-color: #e67e00;
          align-content: space-between;
          text-align: center;
}
.navbar > p {  

     width: 300px;
     margin: 30px;
     text-align: center;
     line-height: 5px;
     font-size: 20px;
    
   }


    
        
